.ui-button-text:active{
	outline: auto !important;
	border-radius: 1px solid red !important;
}
.ui-dialog .ui-dialog-buttonpane button.ui-state-hover:hover .ui-button-text{
	background-color: #CCC !important;
}
.ui-dialog .ui-dialog-buttonpane button{
	background-image: none !important;
/*	border: 1px solid transparent !important;*/
/*	outline: none !important;*/
}

.ui-dialog .ui-dialog-buttonpane button:hover{
/*	border: 1px solid #aaa !important;*/
/*	border-radius: none !important;*/
/*	outline:  none !important;*/
}

.ui-dialog-content .ui-widget-content .ui-dialog-normal{
	padding: 4px !important;
}


table{
	width: 100%;
	margin: 0px;
	border: 1px solid #CCC;
}

tr:nth-child(even){
	background-color: #DDD;
}

tr:hover{
	background-color: #FFF;
}

thead{
	background-color: #EEE;
}

thead th{
	padding: 5px;
}
tbody td{
	padding: 1px 5px;
	
}