.ui-button-text:active{
	outline: none !important;
	border-radius: none !important;
}
.ui-dialog .ui-dialog-buttonpane button{
	background-image: none !important;
	border: 1px solid transparent !important;
	outline: none !important;
	}

.ui-dialog .ui-dialog-buttonpane button:hover{
	border: 1px solid #aaa !important;
	border-radius: none !important;
	outline:  none !important;
}
