html, body{
	
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #DDD;
/*	background-image: url(../images/texture.png);*/
	overflow: hidden;
}
input, button:focus{
	outline: none !important;
	white-space: none !important;
	box-shadow: none !important;
	border: 1px solid transparent !important;
}

.ui-dialog-titlebar-minimize,
[title="maximize"][role="button"],
.ui-dialog-titlebar-restore,
[title="Close"][role="button"]{
	border: none !important;
	text-decoration: none !important;
	margin: 1px;
}


/*
.ui-dialog-titlebar-minimize{
	background-color: #FEB123 !important;
}

.ui-dialog-titlebar-restore,
[title="maximize"][role="button"]{
	background-color: #29C432 !important;
}

[title="Close"][role="button"]{
	background-color: #FB4747 !important;
}
*/

.ui-dialog-titlebar.ui-widget-header{
	cursor: default !important;
}

.ui-icon.glyphicon{
	color: #333 !important;
	border: 1px solid transparent !important;
	font-size: 10px;
}
.ui-icon.glyphicon:hover{
	text-decoration: none;
}

.ui-dialog-content.ui-widget-content{
	margin-bottom: 44px;
	width: 100% !important;
	height: calc(100% - 85px) !important;
}
.header {
	background-color: #333;
	color: white;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.header .nav{
	list-style: none;
	padding: 0px;
}

.header .nav>li{
	display: inline-block;
}

.header .nav>li > a:focus{
	background-color: transparent;
}
.header .nav>li > a{
	color: white;
}

.header .nav>li:hover>a,
.header .nav>li>a[aria-expanded="true"]{
	background-color: #f80;
	color: black;
}

.header .nav>li>ul{
	margin-top: 0px;
	border-radius: 0px;
	box-shadow: 0px;
	margin-left: -1px;
	font-size: 16px;
	background-color: #f80;
}
.header .nav>li>ul.dropdown-menu>li>a:hover{
	background-image: none;
	background-color: #333 !important;
	color: white;
}
.header .nav>li>ul>li a{
	color: black;
}

button, .btn{
	font-size: 16px;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #AAA;
	margin-left: 0px;
}

button, .btn:hover{
	background-color: #CCC;
}

.ui-dialog-buttonset .btn{
	float: right;
}

.sub-header {
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: #f80;
/*	display: none;*/
}
.text{
	outline: none;
	padding: 2px;
	margin: 4px;
}
.form-control{
	outline: none !important;
	margin-bottom: 2px !important;
	background-color: #DDD;
	border: 1px solid #BABABA !important;
}
.select{
	background-color: #DDD;
	border: 1px solid #BABABA !important;
	padding: 7.5px;
	width: 100%;
	border: 0px;
	border-radius: 5px;
	height: 35px;
}
.select:focus{
	outline: none;
	border: 0px;
}

.wrapper{
	height: calc(100% - 40px);
}
.status-field {
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 10px;
	margin-left: 20px;
}
.status-field.red { color: red;}
.status-field.orange { color: orange;}
.status-field.green { color: green;}

.ui-autocomplete{
	z-index: 500;
}
